.content{
    margin:80px auto;
    width:50%;
    height:auto;
    text-align: center;
    padding: 20px;
    
}
.share{
    width:30%;
    height:auto;
    margin-top: 50px;
    margin-right: 20%;
}
.download{
    width:30%;
    height:auto;
    margin-top: 50px;
}
.share-type {
    margin-left: 50px;
}

.details table tr{
    line-height: 30px;
    height: 30px;
}
 .details table{
    width:100%;
 }
.details table th{
    width:30%;
    text-align: center;
}
.details table td{
    width:30%;
    text-align: center;
}